/* I have changed some of this! :~) */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poiret+One&family=Unbounded&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');
* {
    box-sizing: border-box;
    background-color: rgb(214, 237, 249);


}

h1 {
    position: center;
    border-radius: 10px;
    background-image: url("https://images.pexels.com/photos/907485/pexels-photo-907485.jpeg");
    text-align: center;
    margin: 0px;
    padding: 50px 0px;
    box-shadow: gold;
    font-family: 'Unbounded', cursive;
    color: rgb(25, 2, 22);
    text-decoration: none;
    font-size: 40px;
    transition: all 0.8s ease-out;
}
h1:hover {
    color: lightcyan;
    font-size: 100px;
}



h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 32px;
    text-decoration: none;

}

a {
    text-decoration: none;
    color: rgb(75, 55, 255);
}
a:hover {
    text-decoration: underline;
    background: rgb(102, 160, 231);
    color:rgb(214, 237, 249);
    padding: 2px 10px 2px;
    transition: all 0.3s ease-in-out;
}

main {
    display: grid;
    grid-template-columns: 5, auto;
    grid-template-rows: 10;
    justify-content: center;
}

body {
    position: center;
    /* margin-left: 500px; */
    padding: 0px;
    font-family: 'Poiret One', cursive;
   
}

section {
    border: solid 2px rgb(111, 25, 90);
    border-radius: 5%;
    margin: 5px;
    color: rgb(75, 55, 255);
    padding: 10px;
    /* background-image: url(https://images.pexels.com/photos/907485/pexels-photo-907485.jpeg); */
}

section h2 {
    text-align: center;
    color: rgb(58, 132, 222);
}


#tutorials {
    grid-column: 2 / 3;
    
}

#quizzes {
    grid-column: 2 / 3;
    grid-row: 2;
    
}

#inspiration {
    grid-column: 3 / 4;
    grid-row: 2;
}

#class-exercises {
    grid-column: 3 / 4;
    
}

#homework {
    grid-column: 3 / 4;
    grid-row: 3;
}

#projects {
    grid-column: 2 / 3;
    text-align: center;
}


p, a, li {
    line-height: 1.5em;
    font-size: 1.1em;
}

footer {
    background-color: aliceblue;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 45px;
}
