#answer {
    padding: 10px;
    background: #F0F0F0;
    min-height: 100px;
    margin-top: 10px;
    width: 400px;
}

body {
    background-color: lavender;
    /* padding: 150px; */
    margin-top: 120px;
    margin-left: 35%;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    text-decoration: underline;
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    padding: 14%;
}

a:hover {
    color: hotpink;
}

#answer {
    border: 3px solid rgb(139, 12, 12);
}

img {
    width: 40%;
    padding: 20px;
}

img:hover {
    width: 100%;
    padding-right: 400px;
}

#num1, #num2 {
    width: 120px;
    height: 30px;
    border: hotpink 1px solid;
}

#add, #subtract, #multiply, #divide, #modulus {
    border: hotpink 2px solid;
    height: 30px;
    width: 30px;
}

#ssn {
    width: 200px;
    padding: 20px;
    margin: 70px;
}
