/******************/
/* General Styles */
/******************/

body {
   font-family: Arial;
}

div {
    width: 200px;
    height: 200px;
    background-color: #CCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    column-gap: 30px;
    justify-content: center;
}

.one:hover {
    border-radius: 50%;
    background-color: plum;
    color: white;
    transition: ease-in-out .2s;
}

.two:hover {
    border-radius: 50%;
    background-color: fuchsia;
    color: white;
    transition: ease-in-out .2s;
}

.three:hover {
    border-radius: 50%;
    background-color: teal;
    color: white;
    transition: ease-in-out .2s;
}